html {
  font-family: "Helvetica";
  font-size: 18px;
  color: white;
}

.container {
  width: 960px;
  margin: 0 auto;
}

/*HEADER*/
.header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.first {
  background-color: black;
  overflow: hidden;
}


.first .container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  padding: .66rem 0rem;
}

.logo {
  height: 1.5rem;
}

.logo img {
  height: 1.5rem;
  padding: 0rem 1rem 0rem .5rem;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
}

.moto {
  background-image: url("../moto.jpeg");
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.feature {
  width: 20rem;
  margin-top: 9rem;
  padding: 2rem 3rem;
  background-color: black;
}

.feature h3 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.feature h1 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: .25rem;
}

.list {
  background-color: firebrick;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.list .container {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  flex-wrap: wrap;
}

a {
  color: white;
  text-decoration: none;
}

/*GALLERY*/
.gallery {
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
}

.gallery > div {
  display: flex;
  width: 30%;
}

.gallery p {
  padding: .5rem 0rem;
  margin: 0 auto;
  text-align: center;
}

.gallery img {
  height: 9rem;
  padding: 2rem 0rem;
  max-width: 100%;
  max-height: 100%;
}

.pen {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
  border: 4px solid black;
}

.watch {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
  border: 4px solid black;
}

.glasses {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
  border: 4px solid black;
}

.product {
  background-color: black;
  width: 100%;
}

/*INFO*/
.info {
  display: flex;
  justify-content: space-between;
}

.info div {
  width: 35%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.lh {
  background-color: black;
  padding: 1rem 2rem;
}

.info p {
  color: black;
  font-weight: normal;
  padding: .5rem 2rem;
  text-align: center;
}

/*FOOTER*/
.footer {
  background-color: black;
  height: 5rem;
  margin-top: 4rem;
  display: flex;
  align-items: center;
}
